* {
  box-sizing: border-box;
}

body {
  background-size: cover;
  font-family: "Poppins", sans-serif;
  background-image: url("../img/f.png");
}

.container-element {
  margin-left: auto;
  justify-content: center;
  align-items: center;
  padding: 4%;
  margin-right: auto;
}
.container-element .contet {
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(19, 89, 34, 0.11) 0 0 10px 10px;
  width: 100%;
  height: 90%;
}
.container-element .contet .footer-navbar {
  border-radius: 20px 20px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  box-shadow: rgba(185, 203, 214, 0.3) 0 2px 0 0;
  background-color: #FFFFFF;
}
.container-element .contet .footer-navbar .admin-css {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.container-element .contet .footer-navbar .admin-css .sms-grup {
  padding-right: 40px;
}
.container-element .contet .footer-navbar .admin-css .sms-grup img {
  position: relative;
}
.container-element .contet .footer-navbar .admin-css .sms-grup span {
  position: absolute;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 11px;
  color: #ffffff;
  border-radius: 50%;
  margin-left: -8px;
  background-color: #f50057;
}
.container-element .contet .footer-navbar .admin-css .select-css {
  display: flex;
}
.container-element .contet .footer-navbar .admin-css .select-css select {
  border: none;
  outline: none;
}
.container-element .contet .footer-navbar .togle-class {
  position: relative;
  display: flex;
  padding-left: 34px;
}
.container-element .contet .footer-navbar .togle-class button {
  display: block;
  border: none;
  background: none;
  outline: none;
}
.container-element .contet .footer-navbar .togle-class p {
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  font-size: 12px;
  letter-spacing: 6px;
  line-height: 14px;
  color: #000000;
  font-weight: 600;
}
.container-element .contet .footer-navbar .togle-class .togle-bg {
  display: flex;
  margin-top: -10px;
  margin-left: 4px;
}
.container-element .contet .footer-navbar form {
  display: flex;
  align-items: center;
  width: 30%;
  height: 26px;
  border-radius: 13px;
  background-color: #f0ebfc;
}
.container-element .contet .footer-navbar form img {
  margin-left: 6%;
}
.container-element .contet .footer-navbar form input {
  width: 80%;
  outline: none;
  border: none;
  background: none;
}
.container-element .contet .container {
  display: flex;
  width: 100%;
}
.container-element .contet .container .sidebar {
  width: 18%;
  height: 733px;
  background-color: rgba(249, 251, 252, 0.9);
}
.container-element .contet .container .sidebar .admin-user {
  padding-top: 36px;
  width: 100%;
}
.container-element .contet .container .sidebar .admin-user img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 59px;
  height: 59px;
  border-radius: 50%;
}
.container-element .contet .container .sidebar .admin-user .admin-user-text h4 {
  padding-top: 20px;
  font-size: 14px;
  line-height: 14px;
  color: #3a3a3a;
  font-weight: bold;
  text-align: center;
}
.container-element .contet .container .sidebar .admin-user .admin-user-text p {
  font-size: 13px;
  line-height: 14px;
  color: #3a3a3a;
  font-weight: 400;
  text-align: center;
}
.container-element .contet .container .sidebar .admin-user .admin-user-img {
  display: flex;
  justify-content: center;
}
.container-element .contet .container .sidebar .admin-user .admin-user-img .user-top-img1 {
  background-image: url("../img/money.png");
  background-size: cover;
  margin: 5px;
  width: 30px;
  height: 31px;
  border-radius: 15px;
  background-color: #00e5ff;
}
.container-element .contet .container .sidebar .admin-user .admin-user-img .user-top-img2 {
  background-image: url("../img/magic.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  width: 30px;
  height: 31px;
  border-radius: 15px;
  background-color: #63FFD9;
}
.container-element .contet .container .sidebar .admin-user .admin-user-img .user-top-img3 {
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/img.png");
  margin: 5px;
  width: 30px;
  height: 31px;
  border-radius: 15px;
  background-color: #A1FFCF;
}
.container-element .contet .container .sidebar .active {
  background: linear-gradient(100deg, #FDD8E4 40%, #FCEDF3 70%);
  border-left: 3px solid red !important;
}
.container-element .contet .container .sidebar .list {
  margin-top: 43px;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
}
.container-element .contet .container .sidebar .list .list-grup:hover {
  background: linear-gradient(100deg, #FDD8E4 40%, #FCEDF3 70%);
  border-left: 3px solid red !important;
}
.container-element .contet .container .sidebar .list .list-grup {
  border-left: solid 3px transparent;
  display: flex;
  margin-top: -8px;
  align-items: center;
}
.container-element .contet .container .sidebar .list .list-grup img {
  padding-left: 20px;
}
.container-element .contet .container .sidebar .list .list-grup p {
  margin-left: 10px;
  font-size: 14px;
  line-height: 14px;
  color: #1d1d1d;
  font-weight: 500;
}
.container-element .contet .container .sidebar .list .list-grup span {
  padding: 3px;
  margin-left: auto;
  margin-right: 10px;
  background-color: #1CE4B1;
  font-size: 12px;
  line-height: 14px;
  color: #3a3a3a;
  font-weight: 400;
}
.container-element .contet .container .sidebar .list .user-top-close {
  display: none;
}
.container-element .contet .container .sidebar .list .user-top-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-element .contet .container .sidebar .list .user-top-open a {
  margin-left: 33px;
  outline: none;
  text-decoration: none;
}
.container-element .contet .container .sidebar .list .user-top-open a p {
  font-size: 14px;
  line-height: 14px;
  color: #3a3a3a;
  font-weight: 400;
  padding-top: 15px;
  margin: 0;
}
.container-element .contet .container .sidebar .list .user-top-open a p:hover {
  color: red;
}
.container-element .contet .container .container-body {
  padding: 30px 20px 20px 20px;
  width: 100%;
  background-color: rgba(243, 247, 248, 0.78);
}
.container-element .contet .container .container-body .tab-class {
  width: 100%;
  height: 59px;
  background-color: #ffffff;
}
.container-element .contet .container .container-body .tab-class .list-class-tap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-element .contet .container .container-body .tab-class .list-class-tap select {
  width: 180px;
  border: none;
  outline: none;
}
.container-element .contet .container .container-body .tab-class .list-class-tap hr {
  margin: 0;
  padding: 0;
}
.container-element .contet .container .container-body .tab-class .list-class-tap p {
  font-size: 14px;
  line-height: 14px;
  color: #3a3a3a;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-bottom: solid 3px transparent;
  height: 45px;
}
.container-element .contet .container .container-body .tab-class .list-class-tap p:hover {
  cursor: pointer;
  border-bottom: solid 3px #F3A7C4;
}
.container-element .contet .container .container-body .tab-class .list-class-tap .active2 {
  border-bottom: solid 3px #F3A7C4;
}
.container-element .contet .container .container-body .tab-class .list-class-tap .button-img {
  margin-right: 20px;
}
.container-element .contet .container .container-body .tab-class .list-class-tap .button-img button {
  outline: none;
  background: none;
  border: none;
}
.container-element .contet .container .container-body .card-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container-element .contet .container .container-body .card-title .text-card p {
  margin-top: 50px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  font-weight: 500;
}
.container-element .contet .container .container-body .card-title .text-card h4 {
  margin-top: 0;
  font-size: 18px;
  line-height: 14px;
  color: #000000;
  font-weight: 500;
}
.container-element .contet .container .container-body .card-title button {
  border: none;
  background: #00D57D;
  outline: none;
  width: 68px;
  height: 29px;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
.container-element .contet .container .container-body .cardjs {
  display: inline-block;
}
.container-element .contet .container .container-body .card-grup {
  display: flex;
  justify-content: space-between;
}
.container-element .contet .container .container-body .card-grup .card-color {
  opacity: 0.8;
  background: linear-gradient(150deg, #59E7E4 10%, #02A8F3 90%, #59E7E4 100%);
}
.container-element .contet .container .container-body .card-grup .card-color2 {
  opacity: 0.8;
  background: linear-gradient(150deg, #ccb5fe 40%, #1c0eff 90%);
}
.container-element .contet .container .container-body .card-grup .card-color3 {
  background: linear-gradient(150deg, #3C9AFC 10%, #3C60FD 90%, #59E7E4 100%);
}
.container-element .contet .container .container-body .card-grup .card {
  position: relative;
  width: 32%;
  height: 180px;
}
.container-element .contet .container .container-body .card-grup .card .card-header {
  margin-top: 20px;
  display: flex;
}
.container-element .contet .container .container-body .card-grup .card .card-header .card-radus {
  padding: 10px;
  height: 16px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 13px;
  background-color: #123044;
}
.container-element .contet .container .container-body .card-grup .card .card-header .card-radus p {
  margin-left: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
}
.container-element .contet .container .container-body .card-grup .card .card-body {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.container-element .contet .container .container-body .card-grup .card .card-body .card-footer {
  top: 110px;
  left: 10px;
  position: absolute;
}
.container-element .contet .container .container-body .card-grup .card .card-body .card-footer a {
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
}
.container-element .contet .container .container-body .card-grup .card .card-body .body-grup {
  margin-top: -30px;
  display: flex;
  align-items: center;
  padding-left: 4px;
}
.container-element .contet .container .container-body .card-grup .card .card-body .body-grup img {
  border: solid 2px #84E1F2;
  border-radius: 50%;
}
.container-element .contet .container .container-body .card-grup .card .card-body .body-grup .text-body {
  position: absolute;
  left: 55px;
}
.container-element .contet .container .container-body .card-grup .card .card-body .body-grup .text-body h4 {
  font-size: 20px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.container-element .contet .container .container-body .card-grup .card .card-body .body-grup .text-body p {
  padding: 0;
  margin-top: 5px;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
}
.container-element .contet .container .container-body .card-grup .card .card-body .card-img {
  padding: 0;
  margin: 0;
  transform: translateY(-30px);
  opacity: 0.8;
}
.container-element .contet .container .container-body .card-grup .card .card-body .card-img .img1 {
  width: 90%;
  transform: translateX(20px);
}
.container-element .contet .container .container-body .card-grup .card .card-body .card-img .img2 {
  transform: translateX(24px);
  width: 90%;
  opacity: 1;
}
.container-element .contet .container .container-body .card-grup .card .card-body .card-img .img3 {
  width: 85%;
  transform: translateY(30px);
}
.container-element .contet .container .container-body .card-grup2 {
  display: flex;
  justify-content: space-between;
}
.container-element .contet .container .container-body .card-grup2 .card2 {
  width: 24%;
  height: 139px;
  background: #ffffff;
}
.container-element .contet .container .container-body .card-grup2 .card2 .card-button {
  display: flex;
}
.container-element .contet .container .container-body .card-grup2 .card2 .card-button button {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  align-items: center;
  background: none;
  outline: none;
  border: none;
}
.container-element .contet .container .container-body .card-grup2 .card2 .card-body2 {
  margin-left: 10px;
  display: flex;
}
.container-element .contet .container .container-body .card-grup2 .card2 .card-body2 img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.container-element .contet .container .container-body .card-grup2 .card2 .card-body2 .card-text2 h4 {
  font-size: 14px;
  line-height: 14px;
  color: #3a3a3a;
  font-weight: 500;
  margin: 5px;
}
.container-element .contet .container .container-body .card-grup2 .card2 .card-body2 .card-text2 p {
  font-size: 13px;
  line-height: 14px;
  color: #3a3a3a;
  font-weight: 400;
  margin: 5px;
}
.container-element .contet .container .container-body .card-grup2 .card2 .img-user {
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  display: flex;
}
.container-element .contet .container .container-body .card-grup2 .card2 .img-user img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
}
.container-element .contet .container .container-body .card-grup2 .card2 .img-user p {
  font-size: 13px;
  line-height: 14px;
  color: #3a3a3a;
  font-weight: 400;
}

@media only screen and (min-width: 1600px) {
  .container-element {
    padding: 10%;
  }
}

/*# sourceMappingURL=main.css.map */
